
.container {
    margin-top: 50px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    
}

.upload{
    margin: 0;
    top: 50%;
    position: relative;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .img {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;   
    margin-left: 25%; 
}